:root {
  /* Line height */
  --lh-default: 24px;
  --lh-medium: 21px;
  --lh-base: 32px;
  --lh-minimum: 19px;

  /* Line height heading */
  --lh-heading-default: 30px;
  --lh-heading-medium: 32px;
  --lh-heading-large: 48px;
  --lh-heading-base: 27px;
  --lh-heading-wide: 42px;

  /* Line height tablet */
  --lh-tb-default: 16px;
  --lh-tb-medium: 27px;
  --lh-tb-base: 36px;
}
