<section class="page-bot">
  <div class="bot-container-primary">
    <div class="bot-container-primary-sub">
      <h5 class="bot-main-heading">Hofmann</h5>
      <p class="bot-text">Hoffman UI Kit was made to help you quickly create beautiful layouts of responsive websites.
      </p>
      <p class="bot-sub-text">© 2016 Created by Goldenfox</p>
      <p class="bot-sub-heading">Subscribe to our news</p>
      <form class="bot-form">
        <input type="email" name="email" id="mail" placeholder="Your Email" class="bot-input">
        <button type="submit" class="bot-btn-search"><img src="./assets/images/subscribe.png" alt="subscribe"
            class="btn-img"></button>
      </form>
    </div>
  </div>
  <div class="bot-container-secondary">
    <ul class="bot-text-list-sub bot-one">
      <li class="text-list"><a href="javascript:void(0)" class="link-success">About Us</a></li>
      <li class="text-list"><a href="javascript:void(0)" class="link-success">Explore</a></li>
      <li class="text-list"><a href="javascript:void(0)" class="link-success">Contact</a></li>
    </ul>
    <ul class="bot-text-list-sub bot-two">
      <li class="text-list"><a href="javascript:void(0)" class="link-success">Testimonials</a></li>
      <li class="text-list"><a href="javascript:void(0)" class="link-success">Blog</a></li>
      <li class="text-list"><a href="javascript:void(0)" class="link-success">News</a></li>
    </ul>
    <ul class="bot-text-list-sub bot-three">
      <li class="text-list"><a href="javascript:void(0)" class="link-success">Documentation</a></li>
      <li class="text-list"><a href="javascript:void(0)" class="link-success">Help</a></li>
      <li class="text-list"><a href="javascript:void(0)" class="link-success">Privacy</a></li>
    </ul>
    <div class="bot-text-footer bot-four">
      <p class="bot-text-heading">Follow us</p>
      <ul class="bot-text-common-icon">
        <li class="bot-icon-footer"><a href="javascript:void(0)"><img src="./assets/images/pinterest-light.png"
              alt="pinterest" class="bot-icon"></a></li>
        <li class="bot-icon-footer"><a href="javascript:void(0)"><img src="./assets/images/linkedin-light.png"
              alt="linkedin" class="bot-icon"></a></li>
        <li class="bot-icon-footer"><a href="javascript:void(0)"><img src="./assets/images/google-plus-light.png"
              alt="pinterest" class="bot-icon"></a></li>
        <li class="bot-icon-footer"><a href="javascript:void(0)"><img src="./assets/images/twitter-light.png"
              alt="linkedin" class="bot-icon"></a></li>
        <li class="bot-icon-footer"><a href="javascript:void(0)"><img src="./assets/images/facebook-light.png"
              alt="pinterest" class="bot-icon"></a></li>
        <li class="bot-icon-footer"><a href="javascript:void(0)"><img src="./assets/images/instagram-light.png"
              alt="linkedin" class="bot-icon"></a></li>
      </ul>
    </div>
  </div>
</section>
