<section class="page-bot">
  <div class="bot-container-primary">
    <div class="bot-container-primary-sub">
    <h5 class="bot-main-heading">Hofmann</h5>
    <p class="bot-text">Hoffman UI Kit was made to help you quickly create beautiful layouts of responsive websites.</p>
    <p class="bot-sub-text">© 2016 Created by Goldenfox</p>
    <p class="bot-sub-heading">Subscribe to our news</p>

  </div>
  </div>
  <div class="bot-container-secondary">
    <ul class="bot-text-list bot-one">
      <li class="text-list">About Us</li>
      <li class="text-list">Explore</li>
      <li class="text-list">Contact</li>
    </ul>
    <ul class="bot-text-list bot-two">
      <li class="text-list">Testimonials</li>
      <li class="text-list">Blog</li>
      <li class="text-list">News</li>
    </ul>
    <ul class="bot-text-list bot-three">
      <li class="text-list">Documentation</li>
      <li class="text-list">Help</li>
      <li class="text-list">Privacy</li>
    </ul>
    <div class="bot-text-footer bot-four">
      <p class="bot-text-heading">Follow us</p>
      <ul class="bot-text-common-icon">
        <li class="bot-icon-footer"><img src="./assets/images/pinterest-light.png" alt=""></li>
        <li class="bot-icon-footer"><img src="./assets/images/linkedin-light.png" alt=""></li>
        <li class="bot-icon-footer"><img src="./assets/images/google-plus-light.png" alt=""></li>
        <li class="bot-icon-footer"><img src="./assets/images/twitter-light.png" alt=""></li>
        <li class="bot-icon-footer"><img src="./assets/images/facebook-light.png" alt=""></li>
        <li class="bot-icon-footer"><img src="./assets/images/instagram-light.png" alt=""></li>
      </ul>
    </div>
  </div>
</section>
