<section class="page-choose-your-plan">
  <h4 class="choose-your-plan-heading">Choose Your Plan</h4>
  <div class="card-common">
    <div class="card card-primary card-success">
      <div class="card-body">
        <h5 class="card-title card-title-primary">Silver</h5>
        <div class="plan-price plan-price-primary">
          <span class="currency">$</span>49
        </div>
        <h5 class="plan-year plan-year-primary">Year</h5>
        <p class="card-text card-text-primary">Personal account</p>
        <p class="card-text card-text-primary">25 GB Discspace</p>
        <p class="card-text card-text-primary">50 Uploads per day</p>
        <a href="javascript:void(0)" class="btn btn-primary plan-purchase plan-purchase-primary">Purchase</a>
      </div>
    </div>
    <div class="card card-secondary card-warning">
      <div class="card-body">
        <h5 class="card-title card-title-secondary">Gold</h5>
        <div class="plan-price plan-price-secondary">
          <span class="currency">$</span>99
        </div>
        <h5 class="plan-year plan-year-secondary">Year</h5>
        <p class="card-text card-text-secondary">Personal account</p>
        <p class="card-text card-text-secondary">50 GB Discspace</p>
        <p class="card-text card-text-secondary">500 Uploads per day</p>
        <a href="javascript:void(0)" class="btn btn-secondary plan-purchase plan-purchase-secondary">Purchase</a>
      </div>
    </div>
    <div class="card card-primary card-danger">
      <div class="card-body">
        <h5 class="card-title card-title-primary">Platinum</h5>
        <div class="plan-price plan-price-primary">
          <span class="currency">$</span>299
        </div>
        <h5 class="plan-year plan-year-primary">Year</h5>
        <p class="card-text card-text-primary">Team Account</p>
        <p class="card-text card-text-primary">500 GB Discspace</p>
        <p class="card-text card-text-primary">Unlimited Uploads per day</p>
        <a href="javascript:void(0)" class="btn btn-primary plan-purchase plan-purchase-success">Purchase</a>
      </div>
    </div>
  </div>
  <div class="choose-your-plan-text-common">
    <p class="text-primary">Silver</p>
    <p class="text-secondary">Gold</p>
    <p class="text-primary">Platinum</p>
  </div>
</section>
