<section class="page-portfolio">
  <h4 class="portfolio-heading">Portfolio</h4>
  <div class="portfolio-container">
    <div class="portfolio-item portfolio-item-one">
      <picture class="portfolio-img green-mountain-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/green-mountain-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/green-mountain-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/green-mountain-mobile.jpg">
        <img src="./assets/images/green-mountain-mobile.jpg" alt="green-mountain" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-two">
      <picture class="portfolio-img blue-mountain-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/blue-mountain-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/blue-mountain-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/blue-mountain-mobile.jpg">
        <img src="./assets/images/blue-mountain-mobile.jpg" alt="blue-mountain" class="maximum-size-img">
      </picture>
      <div class="blue-mountain-common">
        <h5 class="blue-mountain-heading">Blue Mountains</h5>
        <p class="blue-mountain-text">17 Apr 2016</p>
        <div class="blue-mountain-underline"></div>
        <p class="blue-mountain-sub-text">Planning a vacation to Europe? No doubt you have certain expectations about
          your upcoming journey.</p>
        <ul class="parameter">
          <li class="parameter-sub parameter-sub-success">
            <img src="./assets/images/views.png" alt="views" class="parameter-icon">
            <p class="number">92924</p>
          </li>
          <li class="parameter-sub parameter-sub-success">
            <img src="./assets/images/likes.png" alt="likes" class="parameter-icon">
            <p class="number">1273</p>
          </li>
          <li class="parameter-sub">
            <img src="./assets/images/comments.png" alt="comments" class="parameter-icon">
            <p class="number">4894</p>
          </li>
        </ul>
        <div class="icon-sub">
          <img src="./assets/images/views.png" alt="views" class="">
        </div>
      </div>
    </div>
    <div class="portfolio-item portfolio-item-three">
      <picture class="portfolio-img ice-mountain-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/ice-mountain-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/ice-mountain-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/ice-mountain-mobile.jpg">
        <img src="./assets/images/ice-mountain-mobile.jpg" alt="ice-mountain" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-four">
      <picture class="portfolio-img rock-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/rock-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/rock-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/rock-mobile.jpg">
        <img src="./assets/images/rock-mobile.jpg" alt="rock" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-five">
      <picture class="portfolio-img sea-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/sea-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/sea-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/sea-mobile.jpg">
        <img src="./assets/images/sea-mobile.jpg" alt="sea" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-six">
      <div class="item-six-common">
        <p class="item-six-sub-heading">Scenery Photos</p>
        <p class="item-six-sub-sub-heading">By Evgeny Metilan</p>
        <div class="item-six-underline"></div>
        <h5 class="item-six-main-heading">Wild
          Nature</h5>
      </div>
    </div>
    <div class="portfolio-item portfolio-item-seven">
      <picture class="portfolio-img valley-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/valley-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/valley-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/valley-mobile.jpg">
        <img src="./assets/images/valley-mobile.jpg" alt="valley" class="maximum-size-img">
      </picture>
    </div>
  </div>
  <div>
    <ul class="list">
      <i class="arrow left"></i>
      <li class="number-list number-list-one"><a href="javascript:void(0)" class="link-dark">1</a></li>
      <li class="number-list number-list-two"><a href="javascript:void(0)" class="link-dark">2</a></li>
      <li class="number-list number-list-three"><a href="javascript:void(0)" class="link-dark">3</a></li>
      <li class="number-list number-list-four"><a href="javascript:void(0)" class="link-dark">4</a></li>
      <li class="number-list number-list-five"><a href="javascript:void(0)" class="link-dark">5</a></li>
      <i class="arrow right"></i>
    </ul>
  </div>
</section>
