<section class="page-portfolio">
  <h4 class="portfolio-heading">Portfolio</h4>
  <div class="portfolio-container">
    <div class="portfolio-item portfolio-item-one">
      <picture class="portfolio-img green-mountain-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/green-mountain-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/green-mountain-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/green-mountain-mobile.jpg">
        <img src="./assets/images/green-mountain-mobile.jpg" alt="green-mountain" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-two">
      <picture class="portfolio-img blue-mountain-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/blue-mountain-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/blue-mountain-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/blue-mountain-mobile.jpg">
        <img src="./assets/images/blue-mountain-mobile.jpg" alt="blue-mountain" class="maximum-size-img">
      </picture>
      <div class="blue-mountain-text">
        <h5></h5>
        <p></p>
        <div></div>
        <p></p>
        <div></div>
      </div>
    </div>
    <div class="portfolio-item portfolio-item-three">
      <picture class="portfolio-img ice-mountain-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/ice-mountain-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/ice-mountain-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/ice-mountain-mobile.jpg">
        <img src="./assets/images/ice-mountain-mobile.jpg" alt="ice-mountain" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-four">
      <picture class="portfolio-img rock-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/rock-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/rock-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/rock-mobile.jpg">
        <img src="./assets/images/rock-mobile.jpg" alt="rock" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-five">
      <picture class="portfolio-img sea-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/sea-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/sea-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/sea-mobile.jpg">
        <img src="./assets/images/sea-mobile.jpg" alt="sea" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-six">
      <picture class="portfolio-img green-mountain-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/green-mountain-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/green-mountain-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/green-mountain-mobile.jpg">
        <img src="./assets/images/green-mountain-mobile.jpg" alt="green-mountain" class="maximum-size-img">
      </picture>
    </div>
    <div class="portfolio-item portfolio-item-seven">
      <picture class="portfolio-img valley-img">
        <source media="(min-width: 1440px)" srcset="./assets/images/valley-desktop.jpg">
        <source media="(min-width: 768px)" srcset="./assets/images/valley-tablet.jpg">
        <source media="(min-width: 320px)" srcset="./assets/images/valley-mobile.jpg">
        <img src="./assets/images/valley-mobile.jpg" alt="valley" class="maximum-size-img">
      </picture>
    </div>
  </div>
</section>
