<section class="page-stay-in-touch">
  <picture class="stay-in-touch-img">
    <source media="(min-width: 1440px)" srcset="./assets/images/iphone.png">
    <img src="./assets/images/iphone.png" alt="iphone" class="iphone-img">
  </picture>
  <div class="stay-in-touch-container-primary">
    <h5 class="stay-in-touch-heading">Stay In Touch</h5>
    <div class="input-common">
      <input type="name" class="search" placeholder="Name*">
      <input type="email" class="search" placeholder="Email*">
    </div>
    <input type="message" class="search" placeholder="Message*">
  </div>
  <div class="stay-in-touch-container-secondary">
    <ul class="stay-in-touch-contact">
      <li class="contact-success">
        <img src="./assets/images/location.png" alt="location" class="parameter-icon">
        <p class="contact-text">2300 W Arbutus Dr Citrus Springs, FL 34434, USA</p>
      </li>
      <li class="contact-success">
        <img src="./assets/images/mail.png" alt="mail" class="parameter-icon">
        <p class="contact-text">contact@hofmannui.net</p>
      </li>
      <li class="contact-success">
        <img src="./assets/images/phone.png" alt="phone" class="parameter-icon">
        <p class="contact-text">793-891-7938, 952-775-6021</p>
      </li>
    </ul>
    <ul>
      <li><img src="" alt=""></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
