<header>
  <img src="../images/top-background.png" alt="background">
  <div>
    <p class="icon-top">h.</p>
    <div class="common">
      <h4 class="sub-heading">Navs</h4>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link nav-link-success" href="javascript:void(0)">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-success" href="javascript:void(0)">Airlines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-success" href="javascript:void(0)">Vacations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Find more</a>
        </li>
      </ul>
    </div>
    <div>
      <img src="" alt="">
    </div>
  </div>
</header>
