<header class="page-top">
  <picture>
    <source media="(min-width: 1440px)" srcset="./assets/images/top-background.png">
    <source media="(min-width: 768px)" srcset="./assets/images/top-background-tablet.png">
    <source media="(min-width: 320px)" srcset="./assets/images/top-background-mobile.png">
    <img src="./assets/images/top-background-mobile.png" alt="background" class="top-img">
  </picture>
    <div class="nav-top">
      <p class="top-text">h.</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link nav-link-success" href="javascript:void(0)">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-success" href="javascript:void(0)">Airlines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-success" href="javascript:void(0)">Vacations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Find more</a>
        </li>
      </ul>
      <div class="nav-icon">
        <img src="./assets/images/twitter-icon.png" alt="twitter-icon" class="nav-icon-success">
        <img src="./assets/images/facebook-icon.png" alt="facebook-icon" class="nav-icon-success">
        <img src="./assets/images/instagram-icon.png" alt="instagram-icon">
      </div>
      <button class="nav-menu"><img src="./assets/images/menu-icon.png" alt="menu-icon"></button>
    </div>
  <div class="info-video">
  <h1 class="top-heading">See The Unmatched Beauty Of The Great Leaks</h1>
  <div class="nav-video">
    <picture class="top-img-sub-common">
      <source media="(min-width: 1440px)" srcset="./assets/images/top-img-sub.png">
      <source media="(min-width: 768px)" srcset="./assets/images/top-img-sub-tablet.png">
      <source media="(min-width: 320px)" srcset="./assets/images/top-img-sub-mobile.png">
      <img src="./assets/images/top-img-sub-mobile.png" alt="image-sub" class="top-img-sub">
    </picture>
    <button class="play-button"><img src="./assets/images/play-button.png"></button>
  </div>
</div>
</header>
