<section class="page-version">
  <picture>
    <source media="(min-width: 1440px)" srcset="./assets/images/version-background.png">
    <source media="(min-width: 768px)" srcset="./assets/images/version-background-tablet.png">
    <source media="(min-width: 320px)" srcset="./assets/images/version-background-mobile.png">
    <img src="./assets/images/version-background-mobile.png" alt="background" class="version-img">
  </picture>
  <div class="version-text-common">
    <h3 class="version-heading">Get Your Free Version</h3>
    <p class="version-text">Having used discount toner cartridges for twenty years, there have been a lot of changes in
      the toner cartridge market. The market today is approximately a twenty billion dollar business.</p>
    <button type="button" class="btn btn-primary btn-success">Download</button>
  </div>
</section>
