.card {
  border-radius: 8px;
  border: 1px solid var(--c-dark);
  width: 270px;
  height: 396px;
}

.card-primary {
  background-color: var(--c-dark);
}

.card-secondary {
  background-color: var(--c-warning);
}

.card-title {
  font-size: var(--fs-medium);
  text-align: center;
  line-height: 27px;
  text-transform: uppercase;
}

.card-title-primary {
  color: var(--c-warning);
}

.card-title-secondary {
  color: var(--c-dark);
}

.card-text-number {
  font-size: var(--fs-wider);
  text-align: center;
  line-height: 48px;
}

.card-text-number-primary {
  color: var(--c-light);
}

.card-text-number-secondary {
  color: var(--c-dark);
}

.card-text {
  font-size: var(--fs-default);
  line-height: 24px;
  text-align: center;
}

.card-text-primary {
  color: var(--c-light);
}

.card-text-secondary {
  color: var(--c-dark);
}
