.card {
  border-radius: 8px;
  border: 1px solid var(--c-dark);
}

.card-test {
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-primary {
  background-color: var(--c-dark);
}

.card-secondary {
  background-color: var(--c-warning);
}

.card-title {
  padding: 0 var(--p-heading-medium);
  font-size: var(--fs-heading-default);
  text-align: center;
  line-height: var(--lh-heading-base);
  text-transform: uppercase;
}

.card-title-primary {
  color: var(--c-warning);
  padding: var(--p-heading-default) 0 var(--p-heading-base) 0;
}

.card-title-secondary {
  color: var(--c-dark);
  padding: var(--p-heading-default) 0 var(--p-heading-base) 0;
}

.card-title-success {
  margin-bottom: 23px;
}

.card-text-number {
  text-align: center;
  font-size: var(--fs-large);
  line-height: var(--lh-heading-large);
  margin-bottom: 15px;
}

.card-text-number-primary {
  color: var(--c-light);
}

.card-text-number-secondary {
  color: var(--c-dark);
}

.dollar {
  vertical-align: super;
  font-size: 24px;
  margin-right: 1px;
}

.card-text {
  font-size: var(--fs-default);
  line-height: 24px;
  text-align: center;
  padding: 0px var(--p-minimum);
}

.card-text-primary {
  color: var(--c-light);
}

.card-text-secondary {
  color: var(--c-dark);
}

.btn-card-text {
  margin: var(--p-heading-base) var(--p-base) var(--p-base) var(--p-base);
}
