.item-container {
  padding-top: var(--p-base);
}

.item-image {
  float: left;
  width: 96px;
  height: 96px;
}

.item-text-flex {
  display: flex;
  flex-direction: column;
}

.item-text {
  font-size: var(--fs-default);
  line-height: var(--lh-medium);
  color: var(--c-dark);
  margin-left: var(--m-beta);
}

.item-text-primary {
  text-transform: uppercase;
}

.item-text-secondary {
  margin-bottom: var(--m-small);
}

.underline {
  width: 320px;
  height: 2px;
  background-color: var(--c-success);
  margin: 0 0 var(--m-alpha) var(--m-beta);
}

.item-text-success {
  line-height: var(--lh-minimum);
  font-size: var(--fs-default);
  color: var(--c-dark);
  text-align: left;
  margin-bottom: var(--m-default);
  padding: 0 var(--p-base) 0 var(--p-success);
}

.item-icon {
  display: flex;
  padding-left: var(--p-success);
}

.item-icon-success {
  margin: 0 var(--m-minimum) var(--m-baser) 0;
}

.item-features-container {
  display: flex;
  flex-grow: 1;
}

.item-features-image{
  width: 53px;
  height: 44px;
}

.item-features-text {
  color: var(--c-dark);
  padding-left: var(--m-success);
}

.item-features-text-primary {
  font-size: var(--fs-heading-minimum);
  line-height: var(--lh-heading-default);
  text-transform: uppercase;
  margin-bottom: 7px;
}

.item-features-text-secondary {
  font-size: var(--fs-heading-minimum);
  line-height: var(--lh-default);
  text-align: left;
  margin-bottom: var(--m-large);
}
