.media {
  display: flex;
  column-gap: 30px;
}

.media-sub {
  padding-top: var(--p-base);
  display: flex;
}

.thumbnail {
  width: 96px;
  height: 96px;
  padding-left: var(--p-default);
}

.media-body {
  display: flex;
  flex-direction: column;
  margin-right: var(--m-alpha);
}

.media-title {
  font-size: var(--fs-default);
  line-height: var(--lh-medium);
  color: var(--c-dark);
  margin-left: var(--m-beta);
}

.media-title-success {
  text-transform: uppercase;
}

.media-sub-title {
  margin-bottom: var(--m-small);
}

.underline {
  width: 320px;
  height: 2px;
  background-color: var(--c-success);
  margin: 0 0 var(--m-alpha) var(--m-beta);
}

.media-description {
  line-height: var(--lh-minimum);
  font-size: var(--fs-default);
  color: var(--c-dark);
  text-align: left;
  margin-bottom: var(--m-default);
  padding: 0 var(--p-base) 0 var(--p-success);
}

.media-social {
  display: flex;
  padding-left: var(--p-success);
}

.media-link {
  margin: 0 var(--m-minimum) var(--m-baser) 0;
}

.media-features {
  display: flex;
  flex-grow: 1;
  width: 30%;
}

.media-features-thumbnail {
  width: 53px;
  height: 44px;
}

.media-text {
  color: var(--c-dark);
  padding-left: var(--m-success);
}

.media-title-features {
  font-size: var(--fs-heading-minimum);
  line-height: var(--lh-heading-default);
  text-transform: uppercase;
  margin-bottom: 7px;
}

.media-text-success {
  font-size: var(--fs-heading-minimum);
  line-height: var(--lh-default);
  text-align: left;
  margin-bottom: var(--m-large);
}
