.page-testimonials {
  width: 100%;
  height: 100%;
}

.testimonials-heading {
  font-size: var(--fs-heading-large);
  line-height: var(--lh-heading-large);
  color: var(--c-dark);
  text-align: center;
  font-weight: normal;
  padding-top: 72px;
  margin-bottom: 28px;
}

.media-shadow {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 48px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .testimonials-heading {
    font-size: var(--fs-tb-heading-default);
    line-height: var(--lh-tb-large);
  }

  .media-title-success {
    font-size: var(--fs-tb-default);
    line-height: var(--lh-base);
  }

  .media-sub-title {
    font-size: var(--fs-tb-default);
    line-height: 14px;
  }

  .media-description {
    font-size: var(--fs-tb-small);
    line-height: var(--lh-tb-default);
    max-width: 200px;
  }

  .thumbnail {
    width: 64px;
    height: 64px;
  }

  .underline {
    max-width: 200px;
  }

  .media-shadow {
    box-shadow: none;
  }
}

@media only screen and (max-device-width: 767px) {
  .list-unstyled {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials-heading {
    font-size: var(--fs-heading-m-default);
    line-height: var(--lh-tb-large);
    margin-bottom: var(--m-minimum);
    padding-top: var(--p-heading-base);
  }

  .media-shadow {
    box-shadow: none;
  }

  .media-title-success {
    font-size: var(--fs-tb-default);
    line-height: var(--lh-base);
    max-width: 215px;
  }

  .media-sub-title {
    font-size: var(--fs-tb-default);
    line-height: 14px;
  }

  .media-description {
    font-size: var(--fs-tb-small);
    line-height: var(--lh-tb-default);
  }

  .underline {
    max-width: 200px;
    margin: 0;
  }

  .thumbnail {
    width: 48px;
    height: 48px;
  }
}
